{% extends 'flatpages/default.html' %}

{% block content %}
    {{ flatpage.content }} <br>
    {{ flatpage.content }}
    <hr>
{% endblock content %}

{#{% block title %}#}
{#    {{ flatpage.title }}#}
{#{% endblock title %}#}
{##}
{#{% block body %}#}
{#    {{ flatpage.content }}#}
{#    <hr>#}
{#{% endblock body %}#}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ flatpage.title }}</title>#}
{#</head>#}
{#<body>#}
{#{{ flatpage.title }}#}
{#{% include 'flatpages/inc.html' %}#}
{#{{ flatpage.content }}#}
{#</body>#}
{#</html>#}

